.container{
    background-image: url("../images/bg.jpg");
    display: block;
    height: 936.4px;
    padding-top: 120px;
    padding-left: 55px;
}
.container1{
    width:856.4px;
    height: 858.25px;
    /*background: white;*/
    padding-top: 20px;
    padding-left: 15px;
}
.details1{
    /*background: #1ccacd;*/
    height: 808.25px;
    width: 398.2px;
    float: left;

}
.details2{
    float: left;
    /*background: #74bfdd;*/
    height: 808.25px;
    width: 398.2px;
    margin-left: 20px;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; /*  base font size  15px= 1em*/
    margin: 0;
}
.details1 h4 {
    font-size: 35px;
    color: orange;
}
.details1 p {
    color: white;
    text-align: justify;
    font-size:12px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: normal;
}
.details2 img {
    margin-top: 10px;
    border: 3px solid white;
    height: 371.4px;
    width: 371.4px;
    border-radius: 2%;
}


*{
    padding: 0px;
    margin: 0px;
}
#lo1{
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 15px;
}
#lo1:hover{
    background: orange;
    opacity: 1;
}
#lo1 a{
    position: absolute;
    top: 22%;
    left: 40%;
    color: white;
    text-decoration: none;
}


#lo2{
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 15px;

}
#lo2:hover{
    background: orange;
    opacity: 1;
}
#lo2 a{
    position: absolute;
    top: 18%;
    left: 18%;
    color: white;
    text-decoration: none;
}
#lo2 img{
    width: 25px;
    height: 25px;
}
.lo1{
    display: inline-block;
}

#lo3{
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 15px;

}
#lo3:hover{
    background: orange;
    opacity: 1;
}
#lo3 a{
    position: absolute;
    top: 10%;
    left: 18%;
    color: white;
    text-decoration: none;
}
#lo3 img{
    width: 25px;
    height: 13px;
}